<!DOCTYPE html>
<html>
	<div class="text">
        <div class="col1">
	         <h3>Dean Drako Kickoff</h3>
	         <div class="icon">
                 <img src="assets/keynote.png">
	             <p><b>When?</b> Monday 3/10, 5-6PM<br></p>
	             <p><b>Where?</b> 105 Stanley<br></p>
             </div>
             <br>
	     <p>Keynote speaker Dean Drako will draw from his experience in founding and building 6 technology start-up companies - sometimes two at a time, including his recent companies: Barracuda Networks - November 2013 IPO; IC Manage - a Deloitte Fast500 company; and Eagle Eye Networks - launched in January 2014.  Drako will share some of his techniques and pitfalls to avoid, to help you successfully build a strong technology company with sustainable growth.</p>
             <b>Questions?</b> bwindsor22 at gmail.com
             <br>
        </div>

        <div class="col2" style="margin-top:-360px;">
	        <h3>Innovations in Engineering</h3>
	        <div class="icon">
                <img src="assets/keynote.png">
		        <p><b>When?</b> Tuesday 3/11, 7-8PM<br></p>
		        <p><b>Where?</b> Sibley Auditorium<br></p>
		    </div>
            <br>
            <p>Come to an inspiring talk by Ryan Bethencourt and Ron Shigeta and hear about their experiences as engineers and entrepreneurs in their latest business venture, Berkeley BioLabs. Learn about some different perspectives of starting a successful start-up company and consider how you can innovate the next big idea. Refreshments will be provided.</p>
            <b>Questions?</b> jchsueh at berkeley.edu
            <br><br><br><br>
        </div>

        <div class="col1">
	         <h3>Closing Speaker</h3>
	         <div class="icon">
                 <img src="assets/keynote.png">
	             <p><b>When?</b> Thursday 3/13, 7:30-8:30PM<br></p>
	             <p><b>Where?</b> Banatao Auditorium<br></p>
             </div>
             <br>
	     <p>A Boeing representative for 30 years, Mike O’Grady is a senior technical engineer.  Past positions covered propulsion systems, stress analysis, and structural materials development.  Mike has manages the Knowledge Based Engineering organization at Boeing, responsible for developing tools that can cover cognitive routine work.</p>
             <b>Questions?</b> andreaowu at berkeley.edu
             <br>
        </div>

</html>
