<!DOCTYPE html>
<html>
    <div class="text">
    <div class="col1">
                 <h3>Breakfast</h3>
                 <div class="icon">
                 <img src="assets/breakfast.png">
                     <p style="margin-left:172px">8-10AM</p>
                     <p><b>When?</b> Tuesday 3/11, Wednesday 3/12<br></p>
                     <p><b>Where?</b> ESS Patio<br></p>
             </div>
             <br>
             <p>Free bagels (while supplies last) for engineers to fuel your brain and celebrate E-Week! Find us in front of the ESS! </p>
             <b>Questions?</b> jchsueh at berkeley.edu
             <br><br><br><br><br><br><br><br>
        </div>

	<div class="col2" style="margin-top:-400px;">
                 <h3>Puzzle Hunt</h3>
                 <div class="icon">
                 <img src="assets/puzzle.png">
                     <p><b>When?</b> Tuesday 3/11, 3-7PM<br></p>
                     <p><b>Where?</b> Hearst Mining Circle<br></p>
             </div>
             <br>
             <p>Enjoy solving puzzles? Come join the puzzle hunt! We’ll form teams and walk (or run) around campus using our bright engineering minds to solve puzzles. Make sure you wear comfortable clothes and shoes. Awards ceremony and dinner served afterward. Please sign up <a href="https://docs.google.com/forms/d/14GF2LYQBKc0gP-X733G5UhcbMfwej0GBzCBxSoX1PHY/formResponse" target="_blank">here</a> if you're planning on participating. (If you can't stay for the entire time, don't worry! You can come join whenever you're free.)</p>
             <b>Questions?</b> andreaowu at berkeley.edu
             <br><br><br>
        </div>

 	<div class="col1">
                <h3>Innovations in Engineering</h3>
                <div class="icon">
                <img src="assets/keynote.png">
                        <p><b>When?</b> Tuesday 3/11, 7-8PM<br></p>
                        <p><b>Where?</b> Sibley Auditorium<br></p>
                    </div>
            <br>
            <p>Come to an inspiring talk by Ryan Bethencourt and Ron Shigeta and hear about their experiences as engineers and entrepreneurs in their latest business venture, Berkeley BioLabs. Learn about some different perspectives of starting a successful start-up company and consider how you can innovate the next big idea. Refreshments will be provided.</p>
            <b>Questions?</b> jchsueh at berkeley.edu
            <br><br><br><br>
        </div>
</html>
